In [ ]:
import pandas as pd
from scipy.io import arff

In [ ]:
data, meta = arff.loadarff("speeddating.arff")
dating = pd.DataFrame(data)

In [25]:
from preprocess import load_preprocessed_speeddating

ImportError: cannot import name 'load_preprocessed_speeddating' from 'preprocess' (/home/dzsef/Projects/MLhw_final_1/machinelearning-tuw/EX1/loan/preprocess.py)

In [13]:
def to_text(value):
    if isinstance(value, (bytes, bytearray)):
        return value.decode('utf-8', errors='ignore')
    return value

# Decode any object columns that contain bytes
string_cols = dating.select_dtypes(include=['object']).columns
for col in string_cols:
    dating[col] = dating[col].apply(to_text)

dating[string_cols].head(3)

,has_null,gender,d_d_age,race,race_o,samerace,d_importance_same_race,d_importance_same_religion,field,d_pref_o_attractive,...,d_yoga,d_interests_correlate,d_expected_happy_with_sd_people,d_expected_num_interested_in_me,d_expected_num_matches,d_like,d_guess_prob_liked,decision,decision_o,match
0,0,female,[4-6],Asian/Pacific Islander/Asian-American,European/Caucasian-American,0,[2-5],[2-5],Law,[21-100],...,[0-5],[0-0.33],[0-4],[0-3],[3-5],[6-8],[5-6],1,0,0
1,0,female,[0-1],Asian/Pacific Islander/Asian-American,European/Caucasian-American,0,[2-5],[2-5],Law,[21-100],...,[0-5],[0.33-1],[0-4],[0-3],[3-5],[6-8],[5-6],1,0,0
2,1,female,[0-1],Asian/Pacific Islander/Asian-American,Asian/Pacific Islander/Asian-American,1,[2-5],[2-5],Law,[16-20],...,[0-5],[0-0.33],[0-4],[0-3],[3-5],[6-8],[0-4],1,1,1

In [14]:

dating.drop(['has_null','wave'], axis = 1, inplace= True)

In [15]:
dating['samerace'] = dating['samerace'].astype('int')

In [ ]:

dating['age_diff'] = dating['age'] - dating['age_o']

dating.drop(['age','age_o', 'd_age', 'd_d_age'], axis = 1, inplace = True)

In [17]:
dating.shape

(8378, 118)

In [18]:
to_drop = [column_name for column_name in dating.columns if column_name.startswith('d_')]
dating.drop(to_drop, axis = 1, inplace = True)
dating.shape

(8378, 64)

In [19]:
display(dating.field.value_counts().head(30))
dating.drop('field',axis = 1, inplace = True)

field
Business                  521
MBA                       468
Law                       462
Social Work               378
International Affairs     252
Electrical Engineering    164
Psychology                139
law                       123
Finance                   113
business                  110
Mathematics                95
Film                       92
Sociology                  88
Biology                    85
Engineering                81
Business [MBA]             77
Clinical Psychology        76
Biochemistry               70
Political Science          69
Economics                  67
?                          63
chemistry                  57
School Psychology          56
Physics                    56
Operations Research        56
Education                  55
sociology                  52
medicine                   52
Mechanical Engineering     51
Urban Planning             50
Name: count, dtype: int64

In [20]:
print(f'Before \n{dating.met.value_counts()}')

for number in [3.0, 5.0, 6.0, 7.0, 8.0]:
    dating['met'].replace(number,0, inplace =True)
    
print(f'\nAfter \n{dating.met.value_counts()}')

Before
met
0.0    7644
1.0     351
7.0       3
5.0       2
3.0       1
8.0       1
6.0       1
Name: count, dtype: int64

After
met
0.0    7652
1.0     351
Name: count, dtype: int64

/tmp/ipykernel_164177/4227205683.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dating['met'].replace(number,0, inplace =True)

In [22]:
display(dating.groupby('decision')['match'].value_counts())
print()
display(dating.groupby('decision_o')['match'].value_counts())

dating.drop(['decision_o','decision'], axis = 1, inplace = True)

decision  match
0         0        4860
1         0        2138
          1        1380
Name: count, dtype: int64

decision_o  match
0           0        4863
1           0        2135
            1        1380
Name: count, dtype: int64

In [23]:
columns_numeric = dating.select_dtypes(include = ['int','float']).columns.tolist()

# Selecting categorical columns
columns_category = dating.select_dtypes(include = ['object']).drop('match', axis=1).columns

In [24]:
# Show the missing values
display(dating[columns_numeric].isna().sum()/len(dating)*100)

# Drop the variable with lots of missing values from the dataset
dating.drop('expected_num_interested_in_me', axis = 1, inplace = True)

# Delete it from the numeric column list

columns_numeric.remove('expected_num_interested_in_me')

samerace                          0.000000
importance_same_race              0.942946
importance_same_religion          0.942946
pref_o_attractive                 1.062306
pref_o_sincere                    1.062306
pref_o_intelligence               1.062306
pref_o_funny                      1.169730
pref_o_ambitious                  1.277154
pref_o_shared_interests           1.539747
attractive_o                      2.530437
sinsere_o                         3.425639
intelligence_o                    3.652423
funny_o                           4.296968
ambitous_o                        8.617809
shared_interests_o               12.843161
attractive_important              0.942946
sincere_important                 0.942946
intellicence_important            0.942946
funny_important                   1.062306
ambtition_important               1.181666
shared_interests_important        1.444259
attractive                        1.253282
sincere                           1.253282
intelligence                      1.253282
funny                             1.253282
ambition                          1.253282
attractive_partner                2.411077
sincere_partner                   3.306278
intelligence_partner              3.533063
funny_partner                     4.177608
ambition_partner                  8.498448
shared_interests_partner         12.735736
sports                            0.942946
tvsports                          0.942946
exercise                          0.942946
dining                            0.942946
museums                           0.942946
art                               0.942946
hiking                            0.942946
gaming                            0.942946
clubbing                          0.942946
reading                           0.942946
tv                                0.942946
theater                           0.942946
movies                            0.942946
concerts                          0.942946
music                             0.942946
shopping                          0.942946
yoga                              0.942946
interests_correlate               1.885892
expected_happy_with_sd_people     1.205538
expected_num_interested_in_me    78.515159
expected_num_matches             14.000955
like                              2.864646
guess_prob_liked                  3.688231
met                               4.476009
age_diff                          2.363333
dtype: float64